* {
  font-family: 'Roboto', sans-serif;
}

.PictureStevens{
  object-fit: cover;
  border-radius: 15px;
}
.navbar-brand{
  text-align: center;
}

.nav-item{
  font-size: 24px;
}
.nav-link{
  color: black ! important;
  margin-right: 24px;
  position: relative;
  text
}
.heroSection{
  height: 110vh;
  position: relative;
}
.mainHeroSection{
  height: 100vh;
  position: relative ! important;
  z-index: -1 ! important;
}
.navbar{
  margin: 0px ! important;
  padding-left: 0px ! important;
  padding-right: 0px ! important;

}
.containerHero{
  height: 94vh;
}
.heroTextPanel{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  height: 70% ! important;
  padding-top: 100px ! important;

}
.bigFont{
  font-size: clamp(150px,10vw,200px );
  font-weight: 900;
}
.stevens{
  text-align: right;
}
.gridHero{
  height: 30%;
}
.gridRowHero{
  height: 100%;
  padding-bottom: 30px;
}
.heroLeftDescription{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.heroRightEmail{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}
.description{
  font-size: clamp(26px,1.7vw,32px );
  font-weight: 600;
  white-space: nowrap;
  line-height: 1.2;
}
.email{
  font-size: clamp(20px,1.5vw,30px );
  font-weight: 400;
  white-space: nowrap;
}
.container{
  max-width: 1100px ! important;
}


/* ABOUT ME  */
.aboutMeSection{
  background-color: #e8e8e8;
  padding-top: 15vh;
  padding-bottom: 15vh
}
.aboutMeTextContainer{
  padding-left: 40px ! important;
  padding-right: 40px ! important;
}
.aboutMeHeading{
  font-weight: 600;
  font-size: 40px;
}
.aboutMeText{
  font-size: 22px;
  font-weight: 300;
}
.pictureDiv{
  height: 60vh;
  width: 80vw;
  background-image: url(https://images.unsplash.com/photo-1615148758079-655e33165915?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1519&q=80);
  background-size: cover;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  padding-bottom: 15px;
  padding-right: 15px;
  background-position: center;
}
.aboutMeTextPanel{
  padding-bottom: 20px;
}
.aboutMeText{
  padding-bottom: 8vh;
}
.pictureHobby{
  background-color: white;
  height: 11em;
  width: 16em;
  width: 1;
  border-radius: 7px;
  padding: 32px;
}
.hobbyHeadingDiv{
  height: 30%;
}
.hobbyTextDiv{
  height: 70%;
}
.hobbyHeadingText{
  font-size: 17px;
  font-weight: 500;
  text-align: left;
  margin: 0px;
}
.hobbyText{
  font-size: 15px;
  font-weight: 300;
  margin: 0px;
}
/* project */
.projectSection{
  padding-top: 7vh;
  padding-bottom: 7vh;
  padding-right: 7vw;
  padding-left: 7vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.projectHeaderDiv{
  padding-bottom: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.projectHeadingText{
  font-size: 75px;
  font-weight: 800;
  margin-bottom: 20px;
}
.projectPictureDiv{
  background-image: url(project1.png);
  display: flex;
  align-items: flex-end;
  padding: 0px;
  width: 100vw;
  text-decoration: none;
  opacity: 98%;
}
.clockPictureDiv{
  background-image: url(clock.png);

}

.projectHeadingTextPanel{
  font-size: 32px;
  font-weight: 300;
  text-align: center;
}
.project{
  height: 50em;
  width: 90em;
  background-size: cover;
  margin-bottom: 120px;
  background-position: center;
  padding-bottom: 70px;

}
.projectpictureRow{
  width: 100%;
  margin: 0px ! important;
}
.projectPictureRightDiv{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content:flex-end;
  padding: 0! important;
}
.projectPictureLeftDiv{
  display: flex;
  flex-direction: column-reverse;
  align-items:flex-start;
  justify-content:flex-end;
  padding: 0! important;

}
.year{
  color: white;
  font-size: 56px;
  font-weight: 700;
  margin: 0px;
  line-height: 1;

}
.nameProject{
  color: white;
  font-size: 82px;
  font-weight: 700;
  margin: 0px;
  line-height: 1;
}
.projectTech{
  color: white;
  margin: 0px;
  font-weight: 900;
  font-size: 22px;
  padding-left: 0.6%
}
/* FOOTER */
.footer{
  background-color: #e8e8e8;
  padding-top: 100px;
  padding-bottom: 100px;
}
.footerHeadingText{
  font-size: clamp(50px,10vw,120px );
  text-align: center;
  font-weight: 900;
  white-space: nowrap;
}
.footerHeader{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

.buttonDiv{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.button{
  height: 60px;
  width: 250px;
  border-radius: 30px;
  font-weight: 400;
  background-color: #f5c15d;
  border: 0px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

/* PROJECT PAGES */
.projectPictureDivFolio-1{
  background-image: url(project1.png);
  padding: 0px;
  width: 100%;
  height: 60vh;
  background-size: cover;
  background-position: center;
}
.projectPictureDivClock{
  background-image: url(clock.png);
  padding: 0px;
  width: 100%;
  height: 60vh;
  background-size: cover;
  background-position: center;
}
.folio1Div{
  padding-top: 70px;
}
.bigFontProject{
  font-size: clamp(150px,10vw,200px );
  font-weight: 700;
}
.aboutProjectDiv{
  padding-left: 150px;
  padding-right: 150px
}
.subHeaderProjectDiv{
  padding-top: 40px;
  text-align: center;

}
.subHeaderProject{
  font-weight: 500;
  font-size: 50px;
  margin-top: 20px;
  margin-bottom: 30px;
}
.subHeaderText{
  font-size: 22px;
  font-weight: 300;
  text-align: left;
}
.ButtonProject{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.buttonDiv{
  margin-top: 60px;
}
.ProjectContainer{
  margin-bottom: 100px;
}
.buttonProject{
  font-size: 30px;
  font-weight: 400;
}
.codeDiv{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 0px !important;
  border: 2px;
}
.codeButton{
  width: 100px ! important;
  height: 50px;
  background-color: white;
  color: black;
  text-decoration: none;
  border: 2px;
  border-style: solid;
  display: flex;
  align-items: center;
  justify-content: center;
}
.headingProjectRow{
  padding-right: 10px;
}
.homeButtonDiv{
  position: absolute;
  right: 40px;
}
.buttonHome{
  border-color: black;
  font-size: 50px;
  color: black;
}

/* ANIMATION */
.nav-link::before{
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 2px;
  background-color: black;
  transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

@media (hover: hover) and (pointer: fine) {
  .nav-link:hover::before{
    left: 0;
    right: auto;
    width: 100%;
  }
}
.codeButton:hover{
  border-color: #ff003b;
  color: black;
  text-decoration: none;
}
.button:hover{
  color: black;
}
.projectPictureDiv:hover{
  opacity: 100%;
  transition: all 0.5s;
  transform: scale(1.01);
}
